<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sistema_FinanMotors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Sistema_FinanMotors.Properties.Settings>
            <setting name="chkuser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkpass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>finanmotors</value>
            </setting>
            <setting name="contraseña" serializeAs="String">
                <value>123456</value>
            </setting>
        </Sistema_FinanMotors.Properties.Settings>
    </userSettings>
</configuration>